.container {
  max-width: 144rem;
  background-color: #d6e2f0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.details {
  width: 28rem;
  height: 40.5rem;
  background-color: white;
  border-radius: 20px; }
  .details__icon {
    display: flex;
    margin: 1.5rem 0;
    justify-content: center; }
    .details__icon__header {
      width: 25rem;
      height: 25rem;
      border-radius: 20px; }
  .details__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 1.5rem 3rem; }
    .details__heading--h1 {
      font-size: 1.75rem;
      font-weight: 700;
      margin-bottom: 1rem; }
    .details__heading--paragraph {
      font-size: 1.25rem;
      color: #7b879d; }
